<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">

<listeners>
<listener class-name="utilities.ExtentReportManager"></listener>

</listeners>

  <test name="Test1">
  
  <groups>
  <run>
  <include name="sanity"></include>
  
  </run>
  </groups>
   
    <classes>
      <class name="tests.Login_details"/>
      <class name="tests.Comparing"/>
      <class name="tests.DropDowns"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->






